# Python cache
__pycache__/
*.pyc

# Dataset / large files
*.pth
dataset_split/
dataset_split_new/
augmented/

# IDE / system files
.vscode/
.DS_Store

preprocessed
cleaned
fullcleaned
__pycache__
best_model.pth
checkpoint.pth
static
class_to_idx.path

venv/